.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 5em;
  padding-left: 7em;
  padding-right: 7em;
}

.cards div {
  background-color: rgb(234, 90, 207);
  border: 2px solid black;
}

.cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 70px;
}